/*!
 * Styles v1.0
 *
 * Copyright 2013 Caixa de Ideias
 */

	@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700|Source+Sans+Pro:400,700,900,700italic,600,400italic,600italic,900italic);

 body {overflow-x: hidden;}
	
	.teaser h1, .launch h1, .depoimento h3 {font-family: 'Source Sans Pro', sans-serif;}
	.teaser p, .teaser h4, .contrate h3, .launch p, .launch span, address {font-family: 'Enriqueta', serif;}

 .container {text-align: center;}

 .bigimage {background-image: url('../img/teaser-bg.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center top; position:fixed; height: 100%; width: 100%; z-index: 1;}

 .navbar .container div {background-image: url('../img/logos.png'); height: 70px; margin-top: 11px;}
 .navbar .container div.header-logo {background-position: 0px 0px; width: 183px; float: left;}
 .navbar .container div.header-by {background-position: 200px 0px; width: 200px; float: right;}

 .teaser {padding: 30px 0 60px 0; position: relative; height: 100%; width: 100%; z-index: 10;}
 .teaser .container {margin: 0 auto; text-align: center; color: #FFF; padding-top:40px; z-index: 10;}
 .teaser .container h1 {font-size: 75px; text-transform: uppercase; font-weight: bold; line-height: 65px; padding:0 0.5% 0 0.5%;}
 .teaser .container p {font-size:25px;}
 .teaser h4 {font-weight: bolder;}
 .teaser a, .teaser a:hover, .teaser a:active, .teaser a:focus, .teaser a:visited {color: #FFF; text-decoration: none;}
 .step {margin: 60px 0 0 0;}
 .step-divisor {margin: 30px 0 30px 0; opacity: 0.5;}

 .contrate {background-color: #5e9979; position: relative; padding: 40px 0 60px 0; z-index: 10; color: #fff;}
 .contrate-seta {background-image: url('../img/seta.png'); background-repeat: no-repeat; background-position: 25% 75%;}
 .contrate .btn {margin: 35px 0 0 0; font-weight: bold; font-size: 16px;}

 .portifolio {background-color: #f7f7f7; position: relative; z-index: 20;}
 
 .depoimento {background-color: #5e9979; position: relative; z-index: 10; padding: 120px 0 60px 0; color: #fff;}
 .depoimento h3 {margin: 0 0 60px; font-weight: bolder;}
 .depoimento-autor {position: relative; padding: 25px; width: 80%; margin: 0 auto; border: 1px solid #fff;}
 .depoimento-autor img {float: left;}
 .depoimento-txt {margin: 0px 0 0px 120px; padding: 5px 10px 5px 0; font-family: 'Times New Romam, serif'  } 
 .depoimento-autor p {float: left; text-align: left; }

 .bigimage2 {position: relative; z-index: 10;}

 .launch {background-color: #f7f7f7; color: #5e9b7a; position: relative; z-index: 10; padding: 40px 0 60px 0;}
 .launch h1 {font-size: 52px; font-weight: bolder;}
 .launch p {line-height: 18px; font-size: 18px;}
 .launch .obs {font-size: 13px;}
 .launch .btn {margin: 85px 0 0 0; padding: 16px 44px 14px 44px; font-weight: bold; font-size: 18px; }
 .launch .col-md-6 {margin: 30px 0 0 0;}
 .founder {padding: 0 0 0 50px;}
 .falecom {padding: 0 50px 0 0;}
 .founder p{color: #f75c6e; line-height: 22px; margin: 5px 0 0 0;}
 .launch-seta {background-image: url('../img/seta2.png'); background-repeat: no-repeat; background-position: 52% 55%;}

 .footer {background-color: #f0eceb; position: relative; padding: 0 0 30px 0; z-index: 10; color: #5e9b7a;}
 .footer .col-md-4 {margin:30px 0 0 0;}
 .footer .col-md-1 {background-image: url('../img/social.png');}
 .footer-endereco, .footer-social, .footer-logos {float: left;} 
 .footer-endereco {text-align: left; padding: 5px 0 0 0;}
 .skype, .facebook, .twitter, .email {float: left; height: 30px; width: 34px; margin: 10px 12% 0 0;}
 .skype {background-position: 0px 0px;}
 .facebook {background-position: -80px 0px;}
 .twitter {background-position: -146px 0px;}
 .email {background-position: -216px 0px;}
 .footer-logos img {padding: 0 2px 5px 0;}